<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WeightChart.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2F7968BD1BBCC9F300987832</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2F7968D11BBCC9F300987832</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2F7968DC1BBCC9F300987832</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
